{% extends 'base.html.twig' %}

{% block title %}zha IMMO{% endblock %}

{% block body %}

    {{include('partials/IntroSection.html.twig')}}

    <main id="main">

        {{include('partials/ServiceSection.html.twig')}}
        {{include('partials/LatestPropertiesSection.html.twig')}}
    
    </main>

{% endblock %}
