<section class="section-services section-t8">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-wrap d-flex justify-content-between">
                    <div class="title-box">
                        <h2 class="title-a">Nos Services</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card-box-c foo">
                    <div class="card-header-c d-flex">
                        <div class="card-box-ico">
                            <span class="bi bi-cart"></span>
                        </div>
                        <div class="card-title-c align-self-center">
                            <h2 class="title-c">Nos agents</h2>
                        </div>
                    </div>
                    <div class="card-body-c">
                        <p class="content-c">
                        Mais si c'est bien l'achat d'un appartement neuf qui vous intéresse, votre agence immobilière Nexity vous accompagnera et vous expliquera des dispositifs comme la loi Pinel ou ce qu'est un PTZ (Prêt à Taux Zéro). Bientôt, la défiscalisation immobilière n'aura plus de secret pour vous grâce à nos conseils et notre expertise !
                        Votre agent immobilier Nexity est un véritable acteur de terrain qui connait parfaitement son secteur et peut ainsi vous accompagner au mieux depuis la prospection jusqu'à la signature. Que vous souhaitiez des conseils en ligne ou que vous préfériez venir nous rencontre en agence, n'attendez plus et venez profiter de conseils de professionnels.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-box-c foo">
                    <div class="card-header-c d-flex">
                        <div class="card-box-ico">
                            <span class="bi bi-card-checklist"></span>
                        </div>
                        <div class="card-title-c align-self-center">
                            <h2 class="title-c">Vente</h2>
                        </div>
                    </div>
                    <div class="card-body-c">
                        <p class="content-c">
                            Nous nous engageons à vous accompagner pendant toute la durée de votre projet, de la définition de vos besoins jusqu’à la signature de l’acte authentique.
                            Vous bénéficiez d’un suivi personnalisé et attentif : nous réunissons en amont les documents nécessaires à la mise en vente de votre bien afin de rassurer les acquéreurs et de vous faciliter toutes les démarches administratives.
                            Nous restons à votre écoute jusqu’à l'aboutissement de votre projet immobilier. 
                        </p>
                    </div>
                </div>
             </div>
            <div class="col-md-4">
                <div class="card-box-c foo">
                    <div class="card-header-c d-flex">
                        <div class="card-box-ico">
                            <span class="bi bi-card-checklist"></span>
                        </div>
                        <div class="card-title-c align-self-center">
                            <h2 class="title-c">Location</h2>
                        </div>
                    </div>
                    <div class="card-body-c">
                        <p class="content-c">
                             Confrontée à un environnement juridique de plus en plus complexe, notre équipe vous accompagne dans toutes vos démarches : Estimation locative, sélection des dossiers de candidature, états des lieux, gestion.
                            Nous devenons l’interlocuteur privilégié pour effectuer toutes les démarches administratives ou logistiques auprès des différents intervenants (syndics, entrepreneurs, locataires). 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>