{% extends 'base.html.twig' %}

{% block title %}Recherche de propriété{% endblock %}

{% block body %}

    <main id="main">
        {# Intro Single => Introduction #}
        {{include('property/partialsProperty/IntroSingleIndex.html.twig')}}
 
         {# propertyGrid => partie d'affichage des biens #}
        {{include('property/partialsProperty/PropertyGrid.html.twig')}}

    </main>

{% endblock %}
