{% extends 'base.html.twig' %}

{% block title %}Recherche de propriété{% endblock %}

{% block body %}

    <main id="main">
        {# Intro Single => Introduction #}
        {{include('property/partialsProperty/IntroSingle.html.twig')}}


    </main>

{% endblock %}
