 <!-- ======= Intro single pour voir le detail d"une propriété ======= -->

<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">304 Blaster Up</h1>
          <span class="color-text-a">Chicago, IL 606543</span>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{{path('home')}}">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a href="#">Properties</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              304 Blaster Up
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>